// COLORS
$color-primary: #1e3799; // rgba(30, 55, 153, 1)
$color-primary-light: #4a69bd; // rgba(74, 105, 189, 1)
$color-primary-dark: #0c2461; // rgba(12, 36, 97, 1)


$color-secondary: #38ada9;
$color-secondary-light: #78e08f;
$color-secondary-dark: #079992;

$color-white: #efefef;
$color-grey: #777;

// LAYOUT MEASUREMENTS
// GRID
$row-max-width: 100rem;