.section-search {
  padding: 10rem 0;


  // background-image: linear-gradient(to bottom, rgba(106, 137, 204, .8), rgba(130, 204, 221, 0.8));
  background-image: 
  linear-gradient(to bottom right, 
    rgba(74, 105, 189, .8), 
    rgba(30, 55, 153, .8));
  
  .search {
    grid-column: span 4;
  }
}