.top-row {
  // max-width: $row-max-width;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 6.25%);
  grid-column-gap:1%;
  grid-row-gap: 2%;
  justify-content: center;

    @media #{$viewport-bp} {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


// .col-4 {
//   grid-column: span 4;
// }


// // media queries for 
// @media 
// .col4 {
//   grid-column: span 4;
// }