/* MAP STYLING */
.container {
  display: grid;
  grid-template-columns:1fr;
  width: 98%;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}

.header-map {
  padding: 1em;
}

.results-list {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  padding: 0;

}

// li {
//   list-style: none;
//   padding: .15em;
//   margin-bottom: .25em;
// }

.results-list {
  overflow-y: scroll;
}

.map {
  max-height: 100%;
}

