/* MAP STYLING */
.map-and-results-container {
  margin-left: auto;
  margin-right: auto;
}
.results-container {
  display: grid;
  grid-template-columns: 
  repeat(12, 1fr);
  grid-row-gap: 2rem;

  &__map {
    grid-column: span 12;
    height: 45vh;

    // @media (min-width: 600px) { 
    //   height: 55vh;
    // }
      
    @media (min-width: 650px) {
      height: 85vh;
      grid-column: span 9;
    }
    .map {
      height: 100%;
      display: relative;
    }
  }

  &__sightings {

    grid-column: span 12;

    @media (min-width: 650px) {
      width: 100%;
      grid-column: span 3;
    }
  }

.js-results-list {
  // transform: translateX(-1rem);
  height: 50vh;
  padding: 0;
  overflow-y: scroll;
  border-radius: 2px;
  overflow-x: scroll;

  @media (min-width: 650px) {
    height: 85vh;
    }
  }

  .sighting {
    color: inherit;
    margin-left:auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    justify-content: flex-start;
    border: 1px solid $color-white;
    padding: 1rem;
    background-color: #ffffff;

    @media (min-width: 700px) {
      font-size: 1.25rem;
      }
    
    &__id-and-comName {
      display: flex;
      align-items: center;
      text-align: center;
    }

    &__id {
      margin-right: .5rem;
      // display: inline-block;
      text-align: center;
      font-size: 2rem;
    }

    &__comName {
      padding-right: 2rem;
      // display: inline-block;
      font-size: 2rem;
    }

    
  }
}