.section-search {
  margin-top: 8rem;
  background-image: linear-gradient(to bottom right, $color-primary-dark, $color-primary-light);

  div.search-row {
    padding: 3rem 3rem;

    .form {
      display: flex;
      justify-content: flex-start;

      .form-container {
        display: flex;
        justify-content: center;
        // border: 1px solid black;
        width: 100%;
        flex-wrap: wrap;

        .input-block {
          display: flex;
          flex-direction: column;

          .input-label {
            display: block;
            color: $color-white;
            font-size: 1.5rem;
            line-height: 1rem;;
          }

        }
        
      }

      &__input {
        font-size:  1.5rem;    
        line-height: 1rem;    
        font-family: inherit;
        color: inherit;
        border: none;
        margin-right: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 1rem 1rem;
      }

      &__input--location {
        
      }
      
      &__input--max-results {
        width: 9rem;
      }

      &__input--search-radius {
        width: 9rem;
      }
    }
  }
}



