
// h2
.heading-secondary {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 10rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  letter-spacing: .2rem;
  color: transparent;
  background-color: $color-primary-dark;
  text-align: center;
}

.heading-secondary--search {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 10rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  letter-spacing: .2rem;
  color: $color-white;
  text-align: center;
}

