*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  background-color: #f7f7f7;
}

body {
  padding: 2rem;
  box-sizing: border-box;
  // background-color: #fff;
  color: $color-grey;
}

section {
  margin-bottom: $section-margin-bottom;
  margin-top: $section-margin-bottom;
}

