*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  background-color: #f7f7f7;
}

body {
  padding: 2rem;
  box-sizing: border-box;
  // background-color: #fff;
  color: $color-grey;
}

.heading-secondary {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  letter-spacing: .2rem;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to left, $color-primary-dark, $color-primary-light);
  text-align: center;
}