@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-7rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(7.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes pulse {
  0% {
    opacity: 0; }
  49% {
    opacity: 0; }
  50% {
    opacity: 1; }
  51% {
    opacity: 1; }
  100% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

body {
  padding: 2rem;
  box-sizing: border-box; }

/* html is root. Default font-size is */
html {
  font-size: 62.5%; }

body {
  font-family: 'Major Mono Display', monospace;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777; }

.header--splash {
  height: 95vh;
  background-image: linear-gradient(to bottom, rgba(12, 36, 97, 0.8), rgba(74, 105, 189, 0.8)), url("../images/ray-hennessy-126085-unsplash-min.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }

.heading__container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%); }

.heading__primary {
  color: #efefef;
  position: relative; }
  .heading__primary__main {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 4vw;
    animation-name: fadeInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-in; }
  .heading__primary__sub {
    display: block;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 1.2vw;
    animation-name: fadeInRight;
    animation-duration: 2s; }
  .heading__primary__logo {
    height: 4rem;
    position: absolute;
    left: 50%;
    transform: translate(-95%, 100%);
    padding-bottom: 0.5rem; }
  .heading__primary__logo-cursor {
    height: 4rem;
    width: 3.5rem;
    position: absolute;
    left: 50%;
    transform: translate(-95%, 110%);
    padding-bottom: 0.5rem;
    border-bottom: 0.2rem solid #efefef;
    animation: pulse 1.5s infinite;
    animation-delay: 3.0s; }

/* MAP STYLING */
.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 98%;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  height: 100vh; }

.header-map {
  padding: 1em; }

.results-list {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  padding: 0; }

li {
  border: 1px solid red;
  list-style: none;
  padding: .15em;
  margin-bottom: .25em; }

ul {
  overflow-y: scroll;
  border: 1px solid #efefef; }

.map {
  max-height: 100%; }

#max-results, #search-radius {
  width: 80px; }
