@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-7rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(7.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes pulse {
  0% {
    opacity: 0; }
  49% {
    opacity: 0; }
  50% {
    opacity: 1; }
  51% {
    opacity: 1; }
  100% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  background-color: #f7f7f7; }

body {
  padding: 2rem;
  box-sizing: border-box;
  color: #777; }

section {
  margin-bottom: 5rem;
  margin-top: 5rem; }

/* html is root. Default font-size is */
html {
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.directions-card {
  height: auto;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  position: relative;
  margin-bottom: 3rem; }
  .directions-card__header {
    color: #efefef;
    text-align: center;
    letter-spacing: .2rem;
    background-size: cover;
    height: 23rem;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .directions-card__header__icon {
      padding-top: 3.25rem;
      padding-bottom: 1.5rem; }
    .directions-card__header.location {
      background-image: linear-gradient(to right, rgba(56, 173, 169, 0.8), rgba(7, 153, 146, 0.8)), url("../images/tobias-tullius-225741-unsplash-foggy-forest.jpg"); }
    .directions-card__header.filter {
      background-image: linear-gradient(to right, rgba(74, 105, 189, 0.8), rgba(12, 36, 97, 0.8)), url("../images/luca-bravo-134776-unsplash-pine-river-min.jpg"); }
    .directions-card__header.explore {
      background-image: linear-gradient(to right, rgba(56, 173, 169, 0.9), rgba(7, 153, 146, 0.9)), url("../images/optics-den-birding-binoculars-4.jpg"); }
  .directions-card__heading {
    text-transform: uppercase;
    display: block;
    font-size: 2rem;
    padding: 1rem 1.5rem; }
  .directions-card__body {
    padding: 1rem 3rem;
    font-size: 1.5rem; }
    .directions-card__body ul li {
      text-align: center;
      list-style: none;
      font-size: 1.5rem;
      padding: 1rem; }
      .directions-card__body ul li:not(:last-child) {
        border-bottom: 1px solid #d3d3d3; }

.heading-secondary {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 10rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  letter-spacing: .2rem;
  color: #0c2461;
  text-align: center; }

.heading-secondary--search {
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  letter-spacing: .2rem;
  color: #efefef;
  text-align: center; }

.logo {
  height: 4rem;
  position: absolute;
  left: 50%;
  transform: translate(-95%, 100%);
  padding-bottom: 0.5rem; }
  .logo__cursor {
    height: 4rem;
    width: 3.5rem;
    position: absolute;
    left: 50%;
    transform: translate(-95%, 110%);
    padding-bottom: 0.5rem;
    border-bottom: 0.2rem solid #efefef;
    animation: pulse 1.5s infinite;
    animation-delay: 3.0s; }

.header--splash {
  height: 95vh;
  background-image: linear-gradient(to bottom, rgba(12, 36, 97, 0.8), rgba(74, 105, 189, 0.8)), url("../images/ray-hennessy-126085-unsplash-min.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  margin-bottom: 3rem; }

.heading__container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%); }

.heading__primary {
  position: relative;
  color: #efefef;
  backface-visibility: hidden; }
  .heading__primary__main {
    display: block;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 4vw;
    animation-name: fadeInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-in; }
  .heading__primary__sub {
    display: block;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 1.4vw;
    animation-name: fadeInRight;
    animation-duration: 2s; }

.section-search {
  margin-top: 14rem;
  background-image: linear-gradient(to bottom right, #0c2461, #4a69bd); }
  .section-search div.search-row {
    display: block;
    padding: 3rem 3rem; }
    .section-search div.search-row .form {
      display: flex;
      justify-content: flex-start; }
      .section-search div.search-row .form .form-container {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        flex-wrap: wrap; }
        .section-search div.search-row .form .form-container .input-block {
          display: flex;
          flex-direction: column; }
          .section-search div.search-row .form .form-container .input-block .input-label {
            display: block;
            color: #efefef;
            font-size: 1.5rem;
            line-height: 1rem; }
      .section-search div.search-row .form__input {
        font-size: 1.5rem;
        line-height: 1rem;
        font-family: inherit;
        color: inherit;
        border: none;
        margin-right: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 1rem 1rem; }
      .section-search div.search-row .form__input--location {
        width: 25rem; }
      .section-search div.search-row .form__input--max-results {
        width: 9rem; }
      .section-search div.search-row .form__input--search-radius {
        width: 9rem; }

#submit-button {
  color: #efefef;
  width: 11rem;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .2rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  border-radius: 1px;
  height: 3.5rem;
  box-shadow: none;
  border: 1px solid #efefef;
  background-color: #4664b7;
  transform: translateY(1rem); }
  #submit-button:hover {
    cursor: pointer;
    background-color: #5173a5; }
  #submit-button:active {
    box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.2); }

.row {
  max-width: 100rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 6.25%);
  grid-column-gap: 1%;
  grid-row-gap: 2%;
  justify-content: center; }
  .row .col-4 {
    grid-column: span 12; }

/* MAP STYLING */
.container {
  display: grid;
  grid-template-columns: 1fr;
  width: 98%;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  height: 100vh; }

.header-map {
  padding: 1em; }

.results-list {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  padding: 0; }

.results-list {
  overflow-y: scroll; }

.map {
  max-height: 100%; }
