@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-7rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(7.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes pulse {
  0% {
    opacity: 0; }
  49% {
    opacity: 0; }
  50% {
    opacity: 1; }
  51% {
    opacity: 1; }
  100% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  background-color: #f7f7f7; }

body {
  padding: 2rem;
  box-sizing: border-box;
  color: #777; }

section {
  margin-bottom: 5rem;
  margin-top: 5rem; }

/* html is root. Default font-size is */
html {
  font-size: 50%; }
  @media (min-width: 600px) {
    html {
      font-size: 55%; } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.button {
  color: #efefef;
  width: 11rem;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .2rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  border-radius: 1px;
  margin-right: 1rem;
  font-size: 1.5rem;
  height: 3.5rem;
  box-shadow: none;
  border: 1px solid #efefef;
  background-color: #4664b7;
  transform: translateY(1rem); }
  .button__demo {
    position: relative;
    display: inline-block; }
  .button:hover {
    cursor: pointer;
    background-color: #5173a5; }
  .button:active {
    box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.2); }
  .button__reset-button {
    background-color: #d9534f; }

.js-map-button {
  font-size: 1.5rem;
  margin-bottom: 0; }

.js-directions-button {
  font-size: 1.5rem; }

span.demo__text {
  position: absolute;
  transform: translateY(60%);
  transform: translateX(-50%); }

.directions-card {
  height: auto;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  position: relative;
  margin-bottom: 3rem;
  grid-column: span 12; }
  @media (min-width: 800px) {
    .directions-card {
      grid-column: span 1; } }
  .directions-card__header {
    color: #efefef;
    text-align: center;
    letter-spacing: .2rem;
    background-size: cover;
    height: 23rem;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .directions-card__header__icon {
      padding-top: 3.25rem;
      padding-bottom: 1.5rem; }
    .directions-card__header.location {
      background-image: linear-gradient(to right, rgba(56, 173, 169, 0.8), rgba(7, 153, 146, 0.8)), url("../images/tobias-tullius-225741-unsplash-foggy-forest.jpg"); }
    .directions-card__header.filter {
      background-image: linear-gradient(to right, rgba(74, 105, 189, 0.8), rgba(12, 36, 97, 0.8)), url("../images/luca-bravo-134776-unsplash-pine-river-min.jpg"); }
    .directions-card__header.explore {
      background-image: linear-gradient(to right, rgba(56, 173, 169, 0.9), rgba(7, 153, 146, 0.9)), url("../images/optics-den-birding-binoculars-4.jpg"); }
  .directions-card__heading {
    text-transform: uppercase;
    display: block;
    font-size: 2rem;
    padding: 1rem 1.5rem; }
  .directions-card__body {
    padding: 1rem 3rem;
    font-size: 2rem; }
    .directions-card__body ul li {
      text-align: center;
      list-style: none;
      font-size: 2rem;
      padding: 1rem; }
      .directions-card__body ul li:not(:last-child) {
        border-bottom: 1px solid #d3d3d3; }

.heading-secondary {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  letter-spacing: .2rem;
  color: #1e3799;
  text-align: center; }

.heading-secondary--search {
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  letter-spacing: .2rem;
  color: #efefef;
  text-align: center; }

.header-directions {
  display: flex;
  align-items: baseline;
  justify-content: center; }

.logo--white {
  height: 4rem;
  position: absolute;
  left: 50%;
  transform: translate(-95%, 100%);
  padding-bottom: 0.5rem;
  z-index: 1; }
  .logo--white__cursor {
    height: 4rem;
    width: 3.5rem;
    position: absolute;
    left: 50%;
    transform: translate(-95%, 110%);
    padding-bottom: 0.5rem;
    border-bottom: 0.2rem solid #efefef;
    animation: pulse 1.5s infinite;
    animation-delay: 3.0s; }

.logo--blue {
  height: 3rem;
  margin-left: 1.5rem; }
  .logo--blue__cursor {
    margin-left: 1.5rem;
    width: 3rem;
    transform: translateY(-0.5rem);
    padding-bottom: 0.5rem;
    border-bottom: 0.2rem solid #1e3799;
    animation: pulse 1.5s infinite;
    animation-delay: 3.0s; }

.header--splash {
  height: 95vh;
  background-image: linear-gradient(to bottom, rgba(12, 36, 97, 0.8), rgba(74, 105, 189, 0.8)), url("../images/ray-hennessy-126085-unsplash-min.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  margin-bottom: 3rem; }

.heading__container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%); }

.heading__primary {
  position: relative;
  color: #efefef;
  backface-visibility: hidden; }
  .heading__primary__main {
    display: block;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 4vw;
    animation-name: fadeInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-in; }
  .heading__primary__sub {
    display: block;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 1.4vw;
    animation-name: fadeInRight;
    animation-duration: 2s; }

.top-row {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 6.25%);
  grid-column-gap: 1%;
  grid-row-gap: 2%;
  justify-content: center; }
  @media (min-width: 550px) {
    .top-row {
      grid-template-columns: 1fr 1fr 1fr; } }

/* MAP STYLING */
.map-and-results-container {
  margin-left: auto;
  margin-right: auto; }

.results-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 2rem; }
  .results-container__map {
    grid-column: span 12;
    height: 45vh; }
    @media (min-width: 650px) {
      .results-container__map {
        height: 85vh;
        grid-column: span 9; } }
    .results-container__map .map {
      height: 100%;
      display: relative; }
  .results-container__sightings {
    grid-column: span 12; }
    @media (min-width: 650px) {
      .results-container__sightings {
        width: 100%;
        grid-column: span 3; } }
  .results-container .js-results-list {
    height: 50vh;
    padding: 0;
    overflow-y: scroll;
    border-radius: 2px;
    overflow-x: scroll; }
    @media (min-width: 650px) {
      .results-container .js-results-list {
        height: 85vh; } }
  .results-container .sighting {
    color: inherit;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    justify-content: flex-start;
    border: 1px solid #efefef;
    padding: 1rem;
    background-color: #ffffff; }
    @media (min-width: 700px) {
      .results-container .sighting {
        font-size: 1.25rem; } }
    .results-container .sighting__id-and-comName {
      display: flex;
      align-items: center;
      text-align: center; }
    .results-container .sighting__id {
      margin-right: .5rem;
      text-align: center;
      font-size: 2rem; }
    .results-container .sighting__comName {
      padding-right: 2rem;
      font-size: 2rem; }

.section-search {
  margin-top: 8rem;
  background-image: linear-gradient(to bottom right, #0c2461, #4a69bd); }
  .section-search div.search-row {
    padding: 3rem 3rem; }
    .section-search div.search-row .form {
      display: flex;
      justify-content: flex-start; }
      .section-search div.search-row .form .form-container {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap; }
        .section-search div.search-row .form .form-container .input-block {
          display: flex;
          flex-direction: column; }
          .section-search div.search-row .form .form-container .input-block .input-label {
            display: block;
            color: #efefef;
            font-size: 1.5rem;
            line-height: 1rem; }
      .section-search div.search-row .form__input {
        font-size: 1.5rem;
        line-height: 1rem;
        font-family: inherit;
        color: inherit;
        border: none;
        margin-right: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 1rem 1rem; }
      .section-search div.search-row .form__input--max-results {
        width: 9rem; }
      .section-search div.search-row .form__input--search-radius {
        width: 9rem; }
